body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

body.dark {
  background: #000;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a.dark {
  color: #5f6368;
}

header {
  width: 100%;
  height: 60px;
}

.switch {
  margin: 10px;
  width: 40px;
  height: 20px;
  background-color: #343d5b;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
}

.switch::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  background: #F1F1F1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(53, 50, 50, 0.2);
          box-shadow: 0px 0px 2px 2px rgba(53, 50, 50, 0.2);
}

.switch.active {
  background: orange;
  color: #000;
}

.switch.active::after {
  right: 0;
  left: unset;
}

.switch span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: #fff;
}

.switch span i {
  width: 100px;
  height: 61px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: none;
  color: #fff;
  -ms-flex-line-pack: center;
      align-content: center;
}

nav .right {
  width: 250px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-right-section {
  width: 250px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-right-section a {
  margin-right: 10px;
  color: #000001;
}

body.dark .nav-right-section a {
  color: #cacaca;
}

nav .nav-right-section .menu-icon {
  background-image: url("https://static.thenounproject.com/png/756729-200.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 25px;
  height: 25px;
}

nav .nav-right-section img {
  border-radius: 50%;
  margin-left: 10px;
}

/* estilos main */
main {
  margin-top: 100px;
  text-align: center;
}

main .main-logo {
  width: 530px;
  margin: 0 auto;
  margin-bottom: 35px;
}

main .main-logo img {
  width: 272px;
}

main .main-input {
  width: 580px;
  margin: 0 auto;
  margin-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main-input-container {
  width: 582px;
  height: 44px;
  border-radius: 100px;
  border: 1px solid #e7e8eb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fafafa;
}

main .main-input input {
  width: 500px;
  height: 40px;
  border: none;
  outline: none;
  background-color: #fafafa;
}

main .main-input-container:hover {
  -webkit-box-shadow: 0 1px 6px 0 #20212447;
          box-shadow: 0 1px 6px 0 #20212447;
}

main .main-input .search-icon {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/945px-Vector_search_icon.svg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 16px;
  height: 16px;
}

main .main-input .micro-icon {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/716px-Google_mic.svg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

main .main-buttons {
  width: 530px;
  margin: 0 auto;
}

main .main-buttons div {
  display: inline-block;
}

main .main-buttons button {
  height: 36px;
  background-color: #f8f9fa;
  border: none;
  font-size: 14px;
  color: #3c4043;
  border-radius: 5px;
  padding: 0 15px;
  margin-right: 10px;
}

main .main-buttons button:hover {
  border: 1px solid #dadce0;
  -webkit-box-shadow: 1px #dadce0;
          box-shadow: 1px #dadce0;
}

/*footer*/
footer {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f2f2f2;
  border-top: 1px solid #e4e4e4;
}

body.dark footer {
  background-color: #000;
}

footer ul {
  margin: 10px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
}

footer .footer-left {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

footer .footer-right {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

footer ul li a {
  margin: 10px;
  color: #5f6368;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
}

footer .footer-left {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

footer .footer-right {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

footer ul li a {
  margin: 10px;
  color: #5f6368;
}
/*# sourceMappingURL=styles.css.map */